*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    margin-block-start: 0em; 
    color: #FF008E;
    padding: 0.5em;
    font-size: xx-large;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

main{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.container{
    background-color: #F9CEEE;
    display:inline-flex;
    padding: 0.5em;
    border-radius: 1em;
    flex-direction: column;
    align-items: center;
    width: 20em;
}

.alturaPessoa, .pesoPessoa{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:#52057B;
    padding: 0.5em;
    font-size: large;
    font-weight: bolder;
}

.span{
    padding: 1em;
    color: #890596;
    text-align: center;
    font-weight:bolder;
    font-size: medium;
}

button{
    height:2.5em;
    width: 5.5em;
    background-color: #C70A80;
    border: none;
    border-radius: 0.5em;
    color:whitesmoke; 
    font-size:large;
    margin-top:0.8em;
    font-weight: bolder;
}

button:hover{
    cursor: pointer;
} 

input{
    height: 1.5em;
    border-radius: 0.3em;
    border:none;
    font-size: medium;
    font-weight: lighter;
    background-color: #F9F3EE;
}