*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

h1{
    margin-block-start: 0em; 
    color: #562349;
    padding: 0.5em;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

main{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.container{
    background-color: #CD5D7D;
    display:inline-flex;
    padding: 1.5em;
    border-radius: 1em;
    flex-direction: column;
    align-items: center;
    width: 20em;
}

.alturaPessoa, .pesoPessoa{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:whitesmoke;
    padding: 0.5em;
    font-size: large;
}

.span{
    padding: 0.8em;
    color: #120078;
    text-align: center;
    font-weight: bold;
    font-family:monospace;
}

button{
    height:3em;
    width: 100%;
    background-color: #ABC2E8;
    border: none;
    border-radius: 0.5em;
    color:#562349;
    font-size:large;
    font-family: cursive;
    margin-top:1.5em;
    font-weight: bolder;
}

button:hover{
    cursor: pointer;
} 

input{
    height: 1.8em;
    border-radius: 0.5em;
    border:none;
    font-size: medium;
}